@import './variables.scss';



.active{
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22) !important;
}
.nav{
background-color:$secondary;
 height: 3.5rem;
 display: flex;
 justify-content: center;
 align-items: center;

    .links{
        display: flex;
        justify-content: center;
        align-items: center;
        #link{
            .active{
                width: 300px;
             
             }
            color:white;
            margin: .5rem;
            width: 5rem;
            background-color:$primary;
            border:none;
            padding: .3rem;
            outline:0;
            border-radius: .2rem;
            box-shadow: 0 8px 10px rgba(0,0,0,0.35), 0 8px 8px rgba(0,0,0,0.35);
            &:hover {
                box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
                color:$primary;
                background-color: $third;
                outline:0;
                
                }
        }
    }
    &:hover{
        
    }
}

i{
    font-size: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link_mobile{
        margin:20px;
        color:white;
        margin: .5rem;
        width: 100%;
        background-color:$primary;
        border:none;
        padding: .3rem;
        outline:0;
        border-radius: .2rem;
        
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            color:$primary;
            background-color: $third;
            outline:0;
            }
}

// queries for navbar

@media screen and (max-width: 500px) {
    .nav{
        z-index:-50;
        visibility: hidden;
        overflow-x: hidden;
        height:0;
        width:0;
        overflow:hidden;
    }
    
  }
@media screen and (min-width: 501px) {
    .mobile{
        display:none;
      
    }
  }
