@import './variables.scss';


.toolBar{
    padding-top: .5rem;
    width: 100% !important;
}
#toggleButton{
   margin-right: 50% !important;
}
#exitButton{
    margin-left: 50% !important;
}

#panel1a-header{
    vertical-align: middle;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2), 0 8px 8px rgba(0,0,0,0.2);
    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.22);
        }
}
#panelbody{
text-align: left !important;
overflow:auto !important;
min-height:200px;
}