@import './variables.scss';


@media screen and (max-width: 575px) {
    .web{
        z-index:-50;
        display: none;
        overflow-y: hidden;
        overflow-x: hidden;
        height:0;
        width:0;
        overflow:hidden;
    }
    
  }


  @media screen and (min-width: 576px) {
    .mobile{
        display:none;
    }
  }