@import './variables.scss';

#edit{
    
  margin-left:auto !important;
 margin-right:0 !important;
  border:none !important;
        

}

#del{
    margin-left:0 !important;
    margin-right:0 !important;
}