@import './variables.scss';


.wrapper {
    max-width: 1300px;
    position: fixed; 
    bottom: 0;
    width: 100%;
  }
.sideNav{
  border-style: solid;
  border-top-width: 2px;

}
  .horizontal-scroll {
    background-color: #A9A9A9;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 15px 0;
  }
  .item {
    display: inline-block;
    text-align: center;
    margin: 0 15px;
    font-size: 25px;
    color:$primary;
  }

#linkMobile{
height:40px;
  color:white;
  margin: .5rem;
  width: 6rem;
  background-color:$primary;
  border:none;
  padding: .3rem;
  outline:0;
  border-radius: .2rem;
  box-shadow: 0 8px 10px rgba(0,0,0,0.2), 0 8px 8px rgba(0,0,0,0.2);
  &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.22);
      color:$primary;
      background-color: $third;
      outline:0;
      
      }

}
  #link{
    
    color:white;
    margin: .5rem;
    width: 90%;
    background-color:$primary;
    border:none;
    padding: .3rem;
    outline:0;
    border-radius: .2rem;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2), 0 8px 8px rgba(0,0,0,0.2);
    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.22);
        color:$primary;
        background-color: $third;
        outline:0;
        
        }
}
  @media screen and (max-width: 575px) {
    .sideNav{
        z-index:-50;
        display: none;
        overflow-y: hidden;
        overflow-x: hidden;
        height:0;
        width:0;
        overflow:hidden;
    }
    
  }


  @media screen and (min-width: 576px) {
    .mobile2{
        display:none;
       
    }
  }