@import './variables.scss';


.wrapper {
    max-width: 1300px;
    position: fixed; 
    bottom: 0;
    width: 100%;
  }
.sideNav{
  border-style: solid;
  border-top-width: 2px;

}
  .horizontal-scroll {
    background-color: #A9A9A9;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px 0;
  }
  .item {
    display: inline-block;
    text-align: center;
    margin: 0 15px;
    font-size: 20px;
    color:$primary;
  }

  @media screen and (max-width: 575px) {
    .sideNav{
        z-index:-50;
        display: none;
        overflow-y: hidden;
        overflow-x: hidden;
        height:0;
        width:0;
        overflow:hidden;
    }
    
  }


  @media screen and (min-width: 576px) {
    .mobile2{
        display:none;
       
    }
  }